*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


.contenedor {

    border: 1px solid #CCC;
    width: 800px;
}


.cajas {
    width: 200px;
    height: 200px;
    
}


.rosa {
    background-color: #EE3E64;
}
   
.azul{
    background-color: #44ACCF;
}


.verde{
    background-color: #B7D84B;

}


.clearfix:before, .clearfix:after{
    content: " ";
    display: table;
}

.clearfix:after{
    clear:both;
}


